body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


.card{
  width: auto;
  margin: 0 auto;
  text-align: center;
}

.shelf{
  background-image: "https://target.scene7.com/is/image/Target/GUEST_6784394a-78c6-49d7-ab9e-651efcc0bb29?wid=488&hei=488&fmt=pjpeg"
}
